<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>JavaApplicationStub</string>
        <key>CFBundleGetInfoString</key>
        <string>Application1.0, Copyright {user} 2004. All rights reserved.</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>tmlSpeechRec.icns</string>
        <key>CFBundleIdentifier</key>
        <string>APP_Speech_Recognizer</string>
        <key>CFBundleName</key>
        <string>tmlSpeechRec</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>1.0.1</string>
        <key>Java</key>
        <dict>
            <key>JVMVersion</key>
            <string>1.4*</string>
            <key>MainClass</key>
            <string>application.Application</string>
            <key>Arguments</key>
            <array/>
            <key>ClassPath</key>
            <string>$JAVAROOT/jar_0.jar:$JAVAROOT/oscP5.jar:$JAVAROOT/javaFlacEncoder-0.1.jar:$JAVAROOT/jl1.0.jar:$JAVAROOT/jsminim.jar:$JAVAROOT/minim-spi.jar:$JAVAROOT/minim.jar:$JAVAROOT/mp3spi1.9.4.jar:$JAVAROOT/tritonus_aos.jar:$JAVAROOT/tritonus_share.jar:$JAVAROOT/core.jar:$JAVAROOT/gson-2.3.jar:$JAVAROOT/commons-io-2.4.jar:$JAVAROOT/commons-lang3-3.1.jar:$JAVAROOT/gson-2.2.2.jar</string>
        </dict>
    </dict>
</plist>
